.fondoblanco{/*fondo blanco de en medio*/
	background-color: white;

}
a{/*para que no tengan decoracion las a*/
	text-decoration: none;
	color: white;
	padding: 2%;
}
.rosa{/*para poner rosa algunas palabras*/
	color:#FF3399;
}
.colora{
	color:gray;
	margin-left: 2%;
}
i{
 opacity: 0.5;
}
.textimg{
	margin-top: 2%;
}
.border{
	border-radius:50%;
	border: dotted; 
}
