.container-fluid {/*container para todo*/
	width: 100%;
}
.fondonav{/*fondo negro de navegador*/
	background-color: black;
	height: 100px;
}
.fondogris{/*fondo gris de todo*/
	background-color: silver;
	height: 1000px;
}
.thegentleman{/*palabra the gentleman*/
	font-size: 50px;
	color: white;
}
.navegador{/*margin del nav*/
	margin-top: 1%;
}
.imagen{/*imagen de ciudad*/
	width: 500px;
	height: 400px;
	margin-top: 10%;
	margin-left: 10%;
}
.titulogent{/*titulo de gentleman*/
	font-size: 30px;
	font-family: arial;
	margin-left:10%;
	padding: 15%; 
	margin-top: -5%;
}
.texto1{/*texto debajo de titulo gentleman*/
	font-family: arial;
	margin-left:15%;
	padding: 10%;
	margin-top: -15%;
}
.botread{/*boton read more*/
border-radius: 20%;
background-color: silver;
width:20%;
margin-left: 23%;
margin-bottom: 5%;
}
.projects{/*titulo projects*/
font-size: 20px;
color:gray;
margin-top: 3%;
}